/* Общие стили */
.A_Heading-H1,
.A_Heading-H2,
.A_Heading-H3,
.A_Heading-H4,
.A_Heading-H5,
.A_Paragraph,
.A_Paragraph_Secondary,
.A_Navigation-Text,
.A_Tag-Text {
  font-family: var(--font-family);
  color: var(--color-text);
}

/* Bold */
.A_Heading-H1,
.A_Heading-H2 {
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

/* Medium */
.A_Heading-H3,
.A_Heading-H5 {
  font-weight: var(--font-weight-medium);
}

/* Regular */
.A_Heading-H4,
.A_Paragraph,
.A_Paragraph_Secondary,
.A_Navigation-Text,
.A_Tag-Text {
  font-weight: var(--font-weight-regular);
}

/* Размеры */
.A_Heading-H1 {
  font-size: 50rem;
}
.A_Heading-H2 {
  font-size: 36rem;
}
.A_Heading-H3 {
  font-size: 28rem;
}
.A_Heading-H4 {
  font-size: 24rem;
}
.A_Heading-H5 {
  font-size: 20rem;
}

.A_Paragraph {
  font-size: 20rem;
  line-height: 1.5;
  text-decoration: none;
}

.A_Paragraph_Secondary {
  font-size: 16rem;
  line-height: 1.5;
}

.A_Navigation-Text {
  font-size: 18rem;
  text-decoration: none;
}

.A_Tag-Text {
  font-size: 14rem;
}

.A_Navigation-TextDark {
  color: var(--color-card);
}

.A_Button {
  background-color: var(--color-button);
  transition: background-color 0.25s ease;
  cursor: pointer;
}

.A_Button-Arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 70rem;
  width: 267rem;
  min-height: 50rem;
  border: none;
  border-radius: 71rem;
}

.A_ButtonImg {
  display: block;
  width: 44rem;
  height: auto;
}

.A_Button:hover {
  background-color: var(--color-text);
}

.A_InnerCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  background-color: var(--color-card-accent);
}

.A_LogoImage {
  display: block;
  width: 19.79rem;
  height: auto;
}

.A_SearchIcon {
  display: block;
  width: 16rem;
  height: auto;
}

.A_NavigationLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8rem 15rem;
  border-radius: 20rem;
  cursor: pointer;
}

.A_NavigationLink:hover {
  background-color: var(--color-card-accent);
}

.A_NavigationLink-Acrtive {
  background-color: var(--color-card-accent);
}

.A_Tag {
  padding: 15rem 25rem;
  border-radius: 64rem;
  border: 1.2rem solid var(--color-text);
}

.A_TagIcon-Image {
  display: block;
  width: 28rem;
  height: auto;
}

.A_TagIcon-Social-Network {
  display: block;
  width: 38rem;
  height: auto;
}

/* ___________________index.html___________________ */

/* ___________________404.html___________________ */
.A_Heading-NotFound {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
  text-transform: uppercase;
  font-size: 300rem;
}

/* ___________________articles.html___________________ */
.A_Header-Filter-IconImage {
  display: block;
  width: 20rem;
  height: auto;
}

.A_TagItem-Image {
  display: block;
  width: 19rem;
  height: auto;
}

.A_TagItem-Image-Fire {
  width: 16rem;
}

.A_Tag-TextDownload {
  color: var(--color-card);
}

.A_Download-Image {
  display: block;
  width: 12rem;
  height: auto;
  pointer-events: none;
}

.A_Articles-Link {
  text-decoration: none;
}

.A_Articles-Link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.A_Icon-Arrow {
  display: block;
  width: 20.76rem;
  height: auto;
}

/* ___________________interactive.html___________________ */
.A_TestCard_image {
  display: block;
  width: 300rem;
  height: auto;
}

.A_TestCard_ContentButton {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 30rem;
  min-height: 30rem;
  border-radius: 50%;
  border: none;
}

.A_TestCard_ContentImage {
  display: block;
  width: 8rem;
  height: auto;
}
