.M_Logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40rem;
  height: 40rem;
  text-decoration: none;
  border-radius: 50%;
  background-color: var(--color-surface);
}

.M_Search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40rem;
  height: 40rem;
  padding: 2.5rem;
  border: none;
  border-radius: 50%;
  background-color: var(--color-surface);
  cursor: pointer;
}

.M_NavigationMenu {
  display: flex;
  padding: 0 90rem;
  align-items: center;
  justify-content: space-between;
  width: 600rem;
  min-height: 40rem;
  border-radius: 50rem;
  background-color: var(--color-surface);
}

.M_NavigationItem {
  list-style: none;
}

.M_HeroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27rem;
}

.M_TagGroup {
  display: flex;
  align-items: center;
  padding-top: 27rem;
}

.M_TagIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50rem;
  min-height: 50rem;
  border-radius: 50%;
  border: 1.2rem solid var(--color-text);
}

.M_Button {
  background-color: var(--color-button);
  transition: background-color 0.25s ease;
  cursor: pointer;
}

.M_Button:hover {
  background-color: var(--color-text);
}

.M_Footer-Area {
  display: flex;
  flex-direction: column;
  gap: 60rem;
}

.M_Footer-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40rem;
}

.M_Social-Network {
  cursor: pointer;
}

.M_Footer-Section {
  display: flex;
  gap: 40rem;
}

.M_Footer-Section-Divisions {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.M_Footer-Section-Author {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.M_Footer-Section-DivisionsList {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* ___________________index.html___________________ */

/* ___________________404.html___________________ */
.M_HeroContent-NotFound {
  gap: 0;
}
.M_TagGroup-NotFound {
  padding-top: 0;
}
/* ___________________articles.html___________________ */
.M_HeroContent-articles {
  gap: 20rem;
}

.M_Header-Toolbar {
  display: flex;
  justify-content: space-between;
}

.M_Header-FilterButton {
  display: flex;
  align-items: center;
  gap: 10rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.M_Header-Filter-Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40rem;
  min-height: 40rem;
  border-radius: 50%;
  background-color: var(--color-button);
}

.M_Header-FilterGroup {
  display: none;
  flex-direction: column;
  gap: 15rem;
}

.M_Header-FilterGroup.open {
  display: flex;
}

.M_Header-FilterGroup-Tegs {
  display: flex;
  gap: 10rem;
}

.M_TagItem {
  display: flex;
  align-items: center;
  gap: 8rem;
  padding: 0 15rem;
  height: 30rem;
  border-radius: 52rem;
  user-select: none;
}

.M_TagItem-filter {
  background-color: rgba(45, 78, 30, 0.3);
  cursor: pointer;
}

.M_TagItem-filter:hover {
  background-color: rgba(45, 78, 30, 0.6);
  cursor: pointer;
}

.M_TagItem-filter.active {
  background-color: var(--color-tag);
}

.M_Articles-CardMedia {
  display: flex;
  justify-content: end;
  padding: 10rem;
  width: 414rem;
  min-height: 173rem;
  border-radius: 10rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: none;
}

.M_Articles-ticks.visible {
  background-image: url("/src/images/articles/article_ticks.webp");
}
.M_Articles-storm.visible {
  background-image: url("/src/images/articles/article_storm.webp");
}
.M_Articles-compass.visible {
  background-image: url("/src/images/articles/article_compass.webp");
}
.M_Articles-compass.visible {
  background-image: url("/src/images/articles/article_compass.webp");
}
.M_Articles-trail.visible {
  background-image: url("/src/images/articles/article_trail.webp");
}
.M_Articles-backpack.visible {
  background-image: url("/src/images/articles/article_backpack.webp");
}
.M_Articles-clothing.visible {
  background-image: url("/src/images/articles/article_clothing.webp");
}
.M_Articles-bonfire.visible {
  background-image: url("/src/images/articles/article_bonfire.webp");
}
.M_Articles-tea.visible {
  background-image: url("/src/images/articles/article_tea.webp");
}
.M_Articles-seasons.visible {
  background-image: url("/src/images/articles/article_seasons.webp");
}
.M_Articles-biotopes.visible {
  background-image: url("/src/images/articles/article_biotopes.webp");
}
.M_Articles-boletus.visible {
  background-image: url("/src/images/articles/article_boletus.webp");
}
.M_Articles-fox.visible {
  background-image: url("/src/images/articles/article_fox.webp");
}

.M_TagItem-Article {
  background-color: var(--color-tag);
}

.M_Articles-CardContent {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.M_Articles-CardFooter {
  display: flex;
  justify-content: space-between;
  padding-top: 10rem;
}

.M_Download-Button {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  border: none;
  gap: 10rem;
  background-color: var(--color-button);
  text-decoration: none;
}

.M_Button-more {
  align-self: center;
  width: 267rem;
  min-height: 50rem;
  border: none;
  border-radius: 71rem;
}

/* ___________________interactive.html___________________ */

.M_TestCard_ContentTags {
  display: flex;
  justify-content: space-between;
}

.M_TestCard_Discription {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.M_HeroTest_tags {
  display: flex;
  gap: 10rem;
}

.M_HeroTest_Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  width: 450rem;
  text-align: center;
}

.M_LearnCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 10rem 20rem;
  gap: 20rem;
  text-decoration: none;
  background-color: var(--color-card);
  border-radius: 15rem;
}

.M_LearnCard:hover {
  background-color: rgb(19, 53, 36, 0.65);
}

.M_LearnCard-imageWrapper {
  justify-content: center;
  align-items: start;
  width: 300rem;
  min-height: 206rem;
}

.M_Articles-CardMedia-trail {
  background-image: url("/src/images/articles/A_LearnCard-trail.webp");
}

.M_Articles-CardMedia-fox {
  background-image: url("/src/images/articles/A_LearnCard-fox.webp");
}

.M_Articles-CardMedia-biotopes {
  background-image: url("/src/images/articles/A_LearnCard-biotopes.webp");
}

/* ___________________main_test_mushroom___________________ */
.M_HeroContent-main-test {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 100rem;
}

.M_HeroContent-test_discription {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}

/* ___________________test_mushroom.html___________________ */
.M_Answers {
  display: flex;
  gap: 30rem;
}

.M_TestHeader {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.M_AnswerCard {
  position: relative;
  display: grid;
  grid-template-areas: "stack";
  width: 350rem;
  height: 420rem;
  padding: 0;
  border: none;
  background: transparent;
  border-radius: 15rem;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
}

.M_AnswerCard > * {
  grid-area: stack;
}

.M_AnswerCard::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1.5rem solid transparent;
  border-radius: 15rem;
  box-sizing: border-box;
  pointer-events: none;
  z-index: 3;
}

.M_AnswerCard.is-selected::after {
  border-color: var(--color-text);
}

.M_TagIcon-Test {
  position: relative;
  justify-self: start;
  align-self: start;
  margin: 20rem;
  z-index: 2;
}

.M_TagIcon-Test {
  position: relative;
  justify-self: start;
  align-self: start;
  margin: 20rem;
  z-index: 2;
}

.M_Progress {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30rem;
}

/* ___________________results_test_mushrooms.html___________________ */
.M_ResultCard {
  display: flex;
  flex-direction: column;
  gap: 30rem;
  border-radius: 15rem;
  padding: 20rem;
  width: 660rem;
  height: auto;
  background-color: var(--color-card);
}

.M_ResultDiagram {
  display: grid;
  grid-template-areas: "diagram";
  justify-content: center;
}

.M_ResultCard-Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 390rem;
  gap: 10rem;
}

.M_CorrectAnswerContent {
  display: flex;
  flex-direction: column;
  gap: 15rem;
}

.M_CorrectAnswerImage {
  position: absolute;
  top: 10rem;
  right: 10rem;
}

/* ___________________test1_questions.html___________________ */
.M_Test-ExamQuestion {
  display: flex;
  flex-direction: column;
  padding: 20rem;
  gap: 20rem;
  width: 665rem;
  min-height: 133rem;
  background-color: var(--color-card);
  border-radius: 15rem;
  border: none;
  text-align: start;
}

.M_Test-ExamQuestion.is-selected {
  background-color: var(--color-card-accent);
}

.M_Test-Exam_Title {
  display: flex;
  align-items: center;
  gap: 15rem;
}

/* ___________________result_test_exam.html___________________ */
.M_TagIconAnswer {
  flex-shrink: 0;
}
