.M_Logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40rem;
  height: 40rem;
  text-decoration: none;
  border-radius: 50%;
  background-color: var(--color-surface);
}

.M_Search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40rem;
  height: 40rem;
  padding: 2.5rem;
  border: none;
  border-radius: 50%;
  background-color: var(--color-surface);
  cursor: pointer;
}

.M_NavigationMenu {
  display: flex;
  padding: 0 90rem;
  align-items: center;
  justify-content: space-between;
  width: 600rem;
  min-height: 40rem;
  border-radius: 50rem;
  background-color: var(--color-surface);
}

.M_NavigationItem {
  list-style: none;
}

.M_HeroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27rem;
}

.M_TagGroup {
  display: flex;
  align-items: center;
  padding-top: 27rem;
}

.M_TagIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50rem;
  min-height: 50rem;
  border-radius: 50%;
  border: 1.2rem solid var(--color-text);
}

.M_Button {
  background-color: var(--color-button);
  transition: background-color 0.25s ease;
  cursor: pointer;
}

.M_Button:hover {
  background-color: var(--color-text);
}

.M_Footer-Area {
  display: flex;
  flex-direction: column;
  gap: 60rem;
}

.M_Footer-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40rem;
}

.M_Social-Network {
  cursor: pointer;
}

.M_Footer-Section {
  display: flex;
  gap: 40rem;
}

.M_Footer-Section-Divisions {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.M_Footer-Section-Author {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.M_Footer-Section-DivisionsList {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* ___________________index.html___________________ */
.M_State {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.M_State-Sunset {
  padding-left: 600rem;
}

.M_Passability-Index {
  align-self: flex-start;
  display: flex;
  gap: 40rem;
}

.M_StateVar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.M_State-Permafrost {
  padding-left: 25rem;
  padding-top: 60rem;
}
.M_State-DampnessMain {
  padding-left: 10rem;
  padding-top: 80rem;
}
.M_State-Dampness {
  padding-left: 25rem;
  padding-top: 125rem;
}
.M_State-DampnessVar {
  padding-left: 10rem;
  padding-top: 80rem;
}
.M_State-Slush {
  padding-left: 18rem;
  padding-top: 25rem;
}

.M_State-Dirt {
  position: relative;
  padding-left: 30rem;
  margin: -12rem;
}

.M_StateSky {
  display: flex;
  padding-top: 15rem;
  padding-left: 10rem;
  align-items: center;
  gap: 27rem;
}

.M_StateCloudy {
  display: flex;
  padding-top: 22rem;
  padding-left: 65rem;
  align-items: center;
  gap: 27rem;
}

.M_ForestSky-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.M_StateAutumn {
  display: flex;
  padding-top: 24rem;
  padding-left: 212rem;
  align-items: center;
  gap: 27rem;
}

.M_State-Other {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.M_Card-CheckList-biotopes {
  display: flex;
  align-items: center;
  padding-top: 160rem;
  gap: 30rem;
  min-height: 263rem;
  width: 263rem;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/Q_Card-CheckList-biotopes.webp");
}

.M_Card-CheckList-biotopes:hover {
  background-image: url("/src/images/Q_Card-CheckList-biotopes-hover.webp");
}

.M_Card-CheckList-trail {
  display: flex;
  align-items: center;
  padding-top: 32rem;
  gap: 145rem;
  min-height: 263rem;
  width: 207rem;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/Q_Card-CheckList-trail.webp");
}

.M_Card-CheckList-trail:hover {
  background-image: url("/src/images/Q_Card-CheckList-trail-hover.webp");
}

.M_Card-CheckList-seasons {
  display: flex;
  align-items: center;
  padding-top: 160rem;
  gap: 30rem;
  min-height: 263rem;
  width: 263rem;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/Q_Card-CheckList-seasons.webp");
}

.M_Card-CheckList-seasons:hover {
  background-image: url("/src/images/Q_Card-CheckList-seasons-hover.webp");
}

.M_Card-CheckList-compass {
  display: flex;
  align-items: center;
  padding-top: 35rem;
  padding-left: 40rem;
  gap: 145rem;
  min-height: 263rem;
  width: 258rem;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/Q_Card-CheckList-compass.webp");
}

.M_Card-CheckList-compass:hover {
  background-image: url("/src/images/Q_Card-CheckList-compass-hover.webp");
}

.M_Card-CheckList-ticks {
  display: flex;
  align-items: center;
  padding-top: 32rem;
  gap: 145rem;
  min-height: 263rem;
  width: 207rem;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/Q_Card-CheckList-ticks.webp");
}

.M_Card-CheckList-ticks:hover {
  background-image: url("/src/images/Q_Card-CheckList-ticks-hover.webp");
}

.M_Section-MainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5rem;
}

.M_Articles-CardList {
  display: flex;
  justify-content: end;
  padding: 10rem;
  width: 297rem;
  min-height: 173rem;
  border-radius: 10rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: none;
}

.M_Articles-CardLis-storm {
  background-image: url("/src/images/articles/article_storm.webp");
}

.M_Articles-CardLis-boletus {
  background-image: url("/src/images/articles/article_boletus.webp");
}

.M_Articles-CardLis-fox {
  background-image: url("/src/images/articles/article_fox.webp");
}

.M_Articles-CardLis-bonfire {
  background-image: url("/src/images/articles/article_bonfire.webp");
}

.M_TagItem-Card {
  position: relative;
  margin-left: -340rem;
}

.M_Section_Dzen-Content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30rem;
}

.M_Articles-CardMedia-Anxiety.visible {
  background-image: url("/src/images/Q_Articles-CardMedia-Anxiety.webp");
}

.M_Articles-CardMedia-Routes.visible {
  background-image: url("/src/images/Q_Articles-CardMedia-Routes.webp");
}

.M_Articles-CardMedia-Atmosphere.visible {
  background-image: url("/src/images/Q_Articles-CardMedia-Atmosphere.webp");
}

.M_burger-icon {
  display: none;
}
/* ___________________404.html___________________ */
.M_HeroContent-NotFound {
  gap: 0;
}
.M_TagGroup-NotFound {
  padding-top: 0;
}
/* ___________________articles.html___________________ */
.M_HeroContent-articles {
  gap: 20rem;
}

.M_Header-Toolbar {
  display: flex;
  justify-content: space-between;
}

.M_Header-FilterButton {
  display: flex;
  align-items: center;
  gap: 10rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.M_Header-Filter-Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40rem;
  min-height: 40rem;
  border-radius: 50%;
  background-color: var(--color-button);
}

.M_Header-FilterGroup {
  display: none;
  flex-direction: column;
  gap: 15rem;
}

.M_Header-FilterGroup.open {
  display: flex;
}

.M_Header-FilterGroup-Tegs {
  display: flex;
  gap: 10rem;
}

.M_TagItem {
  display: flex;
  align-items: center;
  gap: 8rem;
  padding: 0 15rem;
  height: 30rem;
  border-radius: 52rem;
  user-select: none;
}

.M_TagItem-filter {
  background-color: rgba(45, 78, 30, 0.3);
  cursor: pointer;
}

.M_TagItem-filter:hover {
  background-color: rgba(45, 78, 30, 0.6);
  cursor: pointer;
}

.M_TagItem-filter.active {
  background-color: var(--color-tag);
}

.M_Articles-CardMedia {
  display: flex;
  justify-content: end;
  padding: 10rem;
  width: 414rem;
  min-height: 173rem;
  border-radius: 10rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: none;
}

.M_Articles-ticks.visible {
  background-image: url("/src/images/articles/article_ticks.webp");
}
.M_Articles-storm.visible {
  background-image: url("/src/images/articles/article_storm.webp");
}
.M_Articles-compass.visible {
  background-image: url("/src/images/articles/article_compass.webp");
}
.M_Articles-trail.visible {
  background-image: url("/src/images/articles/article_trail.webp");
}
.M_Articles-backpack.visible {
  background-image: url("/src/images/articles/article_backpack.webp");
}
.M_Articles-clothing.visible {
  background-image: url("/src/images/articles/article_clothing.webp");
}
.M_Articles-bonfire.visible {
  background-image: url("/src/images/articles/article_bonfire.webp");
}
.M_Articles-tea.visible {
  background-image: url("/src/images/articles/article_tea.webp");
}
.M_Articles-seasons.visible {
  background-image: url("/src/images/articles/article_seasons.webp");
}
.M_Articles-biotopes.visible {
  background-image: url("/src/images/articles/article_biotopes.webp");
}
.M_Articles-boletus.visible {
  background-image: url("/src/images/articles/article_boletus.webp");
}
.M_Articles-fox.visible {
  background-image: url("/src/images/articles/article_fox.webp");
}

.M_TagItem-Article {
  background-color: var(--color-tag);
}

.M_Articles-CardContent {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.M_Articles-CardFooter {
  display: flex;
  justify-content: space-between;
  padding-top: 10rem;
}

.M_Download-Button {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  border: none;
  gap: 10rem;
  background-color: var(--color-button);
  text-decoration: none;
}

.M_Button-more {
  align-self: center;
  width: 267rem;
  min-height: 50rem;
  border: none;
  border-radius: 71rem;
}

/* ___________________interactive.html___________________ */

.M_TestCard_ContentTags {
  display: flex;
  justify-content: space-between;
}

.M_TestCard_Discription {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.M_HeroTest_tags {
  display: flex;
  gap: 10rem;
}

.M_HeroTest_Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  width: 450rem;
  text-align: center;
}

.M_LearnCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 10rem 20rem;
  gap: 20rem;
  text-decoration: none;
  background-color: var(--color-card);
  border-radius: 15rem;
}

.M_LearnCard:hover {
  background-color: rgb(19, 53, 36, 0.65);
}

.M_LearnCard_InWork {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 10rem 20rem;
  gap: 20rem;
  text-decoration: none;
  background-color: var(--color-card);
  border-radius: 15rem;
}

.M_LearnCard-imageWrapper {
  justify-content: center;
  align-items: start;
  width: 300rem;
  min-height: 206rem;
}

.M_Articles-CardMedia-trail {
  background-image: url("/src/images/articles/A_LearnCard-trail.webp");
}

.M_Articles-CardMedia-fox {
  background-image: url("/src/images/articles/A_LearnCard-fox.webp");
}

.M_Articles-CardMedia-biotopes {
  background-image: url("/src/images/articles/A_LearnCard-biotopes.webp");
}

/* ___________________main_test_mushroom___________________ */
.M_HeroContent-main-test {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 100rem;
}

.M_HeroContent-test_discription {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}

/* ___________________test_mushroom.html___________________ */
.M_Answers {
  display: flex;
  gap: 30rem;
}

.M_TestHeader {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.M_AnswerCard {
  position: relative;
  display: grid;
  grid-template-areas: "stack";
  width: 350rem;
  height: 420rem;
  padding: 0;
  border: none;
  background: transparent;
  border-radius: 15rem;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
}

.M_AnswerCard > * {
  grid-area: stack;
}

.M_AnswerCard::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1.5rem solid transparent;
  border-radius: 15rem;
  box-sizing: border-box;
  pointer-events: none;
  z-index: 3;
}

.M_AnswerCard.is-selected::after {
  border-color: var(--color-text);
}

.M_TagIcon-Test {
  position: relative;
  justify-self: start;
  align-self: start;
  margin: 20rem;
  z-index: 2;
}

.M_TagIcon-Test {
  position: relative;
  justify-self: start;
  align-self: start;
  margin: 20rem;
  z-index: 2;
}

.M_Progress {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30rem;
}

/* ___________________results_test_mushrooms.html___________________ */
.M_ResultCard {
  display: flex;
  flex-direction: column;
  gap: 30rem;
  border-radius: 15rem;
  padding: 20rem;
  width: 660rem;
  height: auto;
  background-color: var(--color-card);
}

.M_ResultDiagram {
  display: grid;
  grid-template-areas: "diagram";
  justify-content: center;
}

.M_ResultCard-Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 390rem;
  gap: 10rem;
}

.M_CorrectAnswerContent {
  display: flex;
  flex-direction: column;
  gap: 15rem;
}

.M_CorrectAnswerImage {
  position: absolute;
  top: 10rem;
  right: 10rem;
}

/* ___________________test1_questions.html___________________ */
.M_Test-ExamQuestion {
  display: flex;
  flex-direction: column;
  padding: 20rem;
  gap: 20rem;
  width: 665rem;
  min-height: 133rem;
  background-color: var(--color-card);
  border-radius: 15rem;
  border: none;
  text-align: start;
  cursor: pointer;
}

.M_Test-ExamQuestion:hover {
  background-color: rgb(19, 53, 36, 0.65);
}

.M_Test-ExamQuestion.is-selected {
  background-color: var(--color-card-accent);
}

.M_Test-Exam_Title {
  display: flex;
  align-items: center;
  gap: 15rem;
}

/* ___________________result_test_exam.html___________________ */
.M_TagIconAnswer {
  flex-shrink: 0;
}

/* ___________________main_test_mushroom.html___________________ */
.M_ForestConditions-Header {
  display: flex;
  flex-direction: column;
  gap: 40rem;
}

.M_ForestConditions-Month {
  display: flex;
  gap: 15rem;
  align-items: center;
}

.M_ForestConditions-tegs {
  display: flex;
  justify-content: space-between;
}
.M_ForestConditions-Seasons {
  display: flex;
}
.M_ForestConditions-Months {
  display: flex;
}
.M_MonthRecommendation {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 48rem;
  padding: 15rem 20rem;
  border-radius: 15rem;
  background-color: var(--color-card-accent);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/A_MonthRecommendation-img.webp");
}

.M_MonthRecommendation-Content {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.M_ForestConditions-Current {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 43rem;
  padding: 15rem 20rem;
  border-radius: 15rem;
  background-color: var(--color-card-accent);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/A_ForestConditions-Current-img.webp");
}

.M_ForestConditions-Current-data {
  display: flex;
  gap: 45rem;
  padding-left: 25rem;
}

.M_ForestConditions-Content {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5rem;
}

.M_ForestTrendChart-vertically {
  display: flex;
  flex-direction: column;
  gap: 12rem;
}

.M_ForestTrendChart-horizontal {
  position: relative;
  top: -20rem;
  display: flex;
  padding-left: 200rem;
  gap: 100rem;
}
.M_ForestTrendChart-data {
  display: flex;
  gap: 145rem;
  padding-left: 40rem;
  padding-top: 8rem;
}
.M_ForestTrendChart-state {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  align-items: center;
}
.M_ForestStatCards {
  width: 325rem;
  min-height: 205rem;
  background-color: var(--color-surface);
  border-radius: 15rem;
  padding: 15rem 20rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/Q_ForestStatCard.webp");
}
.M_ForestStatCards-ContentAll {
  display: flex;
  align-items: center;
  padding-top: 30rem;
  gap: 140rem;
}
.M_ForestStatCards-Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5rem;
}
.M_ForestStatCardVar {
  width: 325rem;
  min-height: 205rem;
  background-color: var(--color-surface);
  border-radius: 15rem;
  padding: 15rem 20rem;
  background-color: var(--color-surface);
}
.M_ForestStatCards-ContentAllVar {
  display: flex;
  align-items: center;
  padding-top: 40rem;
  padding-left: 40rem;
  gap: 85rem;
}

.M_ForestStatCardPrecipitation {
  display: flex;
  align-items: center;
  padding-top: 40rem;
  padding-left: 15rem;
  gap: 65rem;
}
.M_ForestStatCardWind {
  display: flex;
  align-items: center;
  padding-top: 40rem;
  padding-left: 15rem;
  gap: 65rem;
}

.M_State-Permafrost-Calendar {
  padding-left: 40rem;
  padding-top: 30rem;
}

.M_State-Dampness-Calendar {
  padding-left: 60rem;
  padding-top: 40rem;
}

.M_State-Slush-Calendar {
  padding-left: 65rem;
}

.M_State-Dirt-Calendar {
  position: relative;
  padding-left: 65rem;
  top: -20rem;
}

.M_StateSky-Calendar {
  display: flex;
  padding-top: 25rem;
  padding-left: 75rem;
  align-items: center;
  gap: 27rem;
}

.M_StateCloudy-Calendar {
  display: flex;
  padding-top: 22rem;
  padding-left: 190rem;
  align-items: center;
  gap: 27rem;
}

.M_StateAutumn-Calendar {
  display: flex;
  padding-top: 24rem;
  padding-left: 430rem;
  align-items: center;
  gap: 27rem;
}

.M_ForestActivity-data {
  display: flex;
  flex-wrap: wrap;
  padding-left: 45rem;
  padding-top: 80rem;
  gap: 40rem;
  row-gap: 95rem;
}

.M_MonthRecommendation-Content-gap {
  gap: 5rem;
}

.M_MonthRecommendation-Content-Birt {
  padding-left: 65rem;
}

.M_MonthRecommendation-Content-FlowerSheets {
  padding-left: 40rem;
}

.M_MonthRecommendation-Content-Dampness {
  padding-left: 63rem;
}

.M_MonthRecommendation-Content-Bear {
  padding-left: 20rem;
}

.M_MonthRecommendation-Content-Tree {
  padding-left: 5rem;
}

.M_ForestRisks_Data {
  display: flex;
  flex-direction: column;
  gap: 20rem;
  align-items: center;
  text-align: center;
}
.M_ForestRisks_DataText {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  text-align: center;
}

.M_ForestProducts-Cards {
  display: flex;
  gap: 20rem;
}

.M_ForestProducts-gap {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}
.M_ForestProducts-Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 208rem;
  min-height: 244rem;
  padding: 10rem;
  gap: 10rem;
  background-color: var(--color-card);
  border-radius: 15rem;
}
/* ___________________article_name.html___________________ */
.M_Main_Article-Header {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 35rem;
}
.M_Main_Article-Header-tegs {
  display: flex;
  gap: 10rem;
}
.M_Article-Info {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}

.M_State-Body {
  position: relative;
  left: -5rem;
  padding-top: 125rem;
}
.M_State-Winter {
  position: relative;
  left: 10rem;
  padding-top: 100rem;
}
.M_State-BodyVarImg {
  padding-left: 55rem;
  padding-top: 45rem;
}
.M_State-FlowerSheets {
  position: relative;
  left: 5rem;
  padding-top: 110rem;
}
.M_State-Grass {
  position: relative;
  left: -50rem;
  padding-top: 85rem;
}

.M_State-Ear {
  padding-top: 95rem;
  padding-left: 40rem;
}
.M_State-Autumn {
  padding-top: 70rem;
  padding-left: 95rem;
}
.M_State-Iphone {
  padding-top: 80rem;
  padding-left: 80rem;
}
.M_State-Bear {
  padding-top: 80rem;
  padding-left: 45rem;
}
.M_State-TreeVar {
  padding-top: 55rem;
  padding-right: 30rem;
}
.M_State-Hand {
  padding-top: 58rem;
  padding-left: 40rem;
}
.M_State-Spring {
  padding-top: 40rem;
  padding-left: 80rem;
}
.M_State-Flower {
  padding-top: 43rem;
  padding-right: 10rem;
}
.M_State-Sun {
  padding-top: 10rem;
  padding-right: 45rem;
}
.M_State-Leg {
  padding-top: 20rem;
  padding-left: 40rem;
}
.M_State-SunVar {
  position: relative;
  padding-top: 0rem;
  left: 85rem;
}
.M_State-Mite {
  padding-top: 20rem;
  padding-left: 55rem;
}

.M_State-BodyVar {
  padding-top: 17rem;
  padding-right: 52rem;
}

.M_State-Forest {
  position: relative;
  top: -5rem;
  padding-right: 7rem;
}

.M_State-Knee {
  padding-top: 10rem;
  padding-left: 40rem;
}
.M_State-FirstAidKit {
  padding-top: 10rem;
  padding-left: 30rem;
}
.M_State-DirectionVar {
  padding-top: 10rem;
  padding-right: 15rem;
}

.M_Article-Info-img {
  display: flex;
  gap: 30rem;
}

.M_Article-Info-img-Small {
  display: block;
  width: 280rem;
  min-height: auto;
}
.M_Article-Info-img-Small-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300rem;
  min-height: 250rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15rem;
}

.M_Article-Info-img-Small-bg-trail {
  background-image: url("../../images/articles/M_Article-Info-img-Small-bg-trail.webp");
}

.M_Article-Info-img-Small-bg-sun {
  background-image: url("../../images/articles/M_Article-Info-img-Small-bg-sun.webp");
}

.M_Article-Info-img-Small-bg-relief {
  background-image: url("../../images/articles/M_Article-Info-img-Small-bg-relief.webp");
}
.M_Article-Info-img-Small-bg-wind {
  background-image: url("../../images/articles/M_Article-Info-img-Small-bg-wind.webp");
}
.M_Article-Info-img-Small-bg-firewood {
  background-image: url("../../images/articles/M_Article-Info-img-Small-bg-firewood.webp");
}
.M_Article-Info-img-Small-bg-heat {
  background-image: url("../../images/articles/M_Article-Info-img-Small-bg-heat.webp");
}
.M_Article-Info-img-Small-bg-Mush {
  background-image: url("../../images/articles/M_Article-Info-img-Small-bg-Mush.webp");
}
.M_Article-Info-img-Small-bg-cap {
  background-image: url("../../images/articles/M_Article-Info-img-Small-bg-cap.webp");
}
.M_Article-Info-img-Small-bg-MushVar {
  background-image: url("../../images/articles/M_Article-Info-img-Small-bg-MushVar.webp");
}
.M_Article-Info-img-Large {
  display: block;
  width: 570rem;
  min-height: auto;
}

.M_Article-Info-Steps {
  display: flex;
  flex-direction: column;
  gap: 40rem;
}

.M_Article-Info-Step {
  display: flex;
  flex-direction: column;
  padding: 20rem 17rem 20rem 20rem;
  gap: 30rem;
  width: 284rem;
  min-height: auto;
  border-radius: 15rem;
  background-color: var(--color-card);
}

.M_Article-Info-Content {
  display: flex;
  gap: 30rem;
}

.M_Article-Info-Steps-Title {
  display: flex;
  align-items: center;
  gap: 12rem;
}

.M_List {
  display: flex;
  flex-direction: column;
  gap: 30rem;
  padding: 30rem 20rem;
  width: 900rem;
  min-height: 426rem;
  border-radius: 15rem;
  background-color: var(--color-card);
}

.M_List_Content {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.M_List_Content-Title {
  display: flex;
  gap: 15rem;
}

.M_Article-Important {
  display: flex;
  gap: 30rem;
  padding: 30rem 40rem;
  width: 900rem;
  min-height: auto;
  border-radius: 15rem;
  background-color: var(--color-card-accent);
}

.M_Article-storm-tegs {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15rem;
  width: 900rem;
  min-height: 500rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/articles/M_Article-storm-tegs.webp");
}

.M_Article-biotopes-tegs {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15rem;
  width: 900rem;
  min-height: 500rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/articles/M_Article-biotopes-tegs.webp");
}

.M_Article-clothing-tegs {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15rem;
  width: 900rem;
  min-height: 500rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/articles/M_Article-clothing-tegs.webp");
}

.M_Article-Info-Stat-Card {
  display: flex;
  flex-direction: column;
  padding-top: 70rem;
  width: 202rem;
  min-height: 281rem;
  border-radius: 15rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.M_Article-Info-Stat-Card-Forest {
  background-image: url("/src/images/articles/M_Article-Info-Stat-Card-Forest.webp");
}

.M_Article-Info-Stat-Card-Ravine {
  padding-top: 80rem;
  background-image: url("/src/images/articles/M_Article-Info-Stat-Card-Ravine.webp");
}

.M_Article-Info-Stat-Card-Mountain {
  background-image: url("/src/images/articles/M_Article-Info-Stat-Card-Mountain.webp");
}

.M_Article-Info-Stat-Card-Grass {
  background-image: url("/src/images/articles/M_Article-Info-Stat-Card-Gras.webp");
}

.M_Article-Info-Stat-Card-Dampness {
  background-image: url("/src/images/articles/M_Article-Info-Stat-Card-Dampness.webp");
}

.M_Article-Info-Stat-Card-RavineVar {
  background-image: url("/src/images/articles/M_Article-Info-Stat-Card-RavineVar.webp");
}

.M_Article-Info-Stat-Card-ForestVar {
  background-image: url("/src/images/articles/M_Article-Info-Stat-Card-ForestVar.webp");
}

.M_Article-Info-Stat-Card-GrassVar {
  background-image: url("/src/images/articles/M_Article-Info-Stat-Card-GrassVar.webp");
}

.M_Article-Info-Stat-Cards {
  display: flex;
  flex-direction: column;
  gap: 40rem;
}
