.O_Header {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50rem 40rem;
}

.O_Navigation {
  display: flex;
  justify-content: space-between;
}

.O_Main {
  display: flex;
  flex-direction: column;
  padding: 120rem 40rem;
  gap: 120rem;
}

.O_Footer {
  display: flex;
  justify-content: space-between;
  padding: 50rem 40rem;
  width: 100%;
  min-height: 305rem;
  background-color: var(--color-surface);
}

/* ___________________index.html___________________ */
.O_Header-main {
  gap: 220rem;
  background-image: url("/src/images/hero-bg.webp");
  min-height: 807rem;
}

/* ___________________404.html___________________ */
.O_Header-NotFound {
  gap: 180rem;
  background-image: url("/src/images/404-bg.webp");
  min-height: 100vh;
}

/* ___________________articles.html___________________ */
.O_Header-articles {
  gap: 200rem;
  background-image: url("/src/images/articles-bg.webp");
  min-height: 695rem;
}

.O_Section-Checklist {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40rem;
}

.O_Section-Articles {
  display: flex;
  flex-direction: column;
  gap: 40rem;
}

.O_Header-Articles {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}

.O_Articles-Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30rem;
}

.O_Articles-Card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10rem;
  gap: 10rem;
  width: 434rem;
  border-radius: 15rem;
  background-color: var(--color-card);
}

.O_Articles-Card:hover {
  background-color: rgb(19, 53, 36, 0.65);
}

/* ___________________interactive.html___________________ */
.O_Header-Interactive {
  gap: 200rem;
  background-image: url("/src/images/interactive-bg.webp");
  min-height: 695rem;
}

.O_Main-Interactive {
  padding: 120rem 0;
}

.O_Section-Tests {
  display: flex;
  padding: 0 40rem;
  gap: 30rem;
}

.O_TestCard {
  display: flex;
  gap: 10rem;
  padding: 10rem;
  width: 665rem;
  min-height: 210rem;
  border-radius: 15rem;
  background-color: var(--color-card);
  text-decoration: none;
}

.O_TestCard:hover {
  background-color: rgb(19, 53, 36, 0.65);
}

.O_TestCard_Content {
  display: flex;
  flex-direction: column;
  gap: 40rem;
  width: 100%;
}

.O_HeroTest {
  display: flex;
  flex-direction: column;
  gap: 80rem;
  padding: 20rem 0;
  width: 100%;
  min-height: 412rem;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/A_Mushrooms.webp");
  background-color: var(--color-surface);
}

.O_LearnMore {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40rem;
}

.O_LearnMore-grid {
  display: flex;
  gap: 30rem;
}

/* ___________________main_test_mushroom.html___________________ */
.O_Header-main-test {
  gap: 250rem;
  background-image: url("/src/images/test_mushroom-bg.webp");
  min-height: 100vh;
}

/* ___________________main_test1_questions.html___________________ */
.O_Header-test1 {
  gap: 250rem;
  background-image: url("/src/images/test1-bg.webp");
  min-height: 100vh;
}

/* ___________________main_test2_questions.html___________________ */
.O_Header-test2 {
  gap: 250rem;
  background-image: url("/src/images/test2-bg.webp");
  min-height: 100vh;
}

/* ___________________test_mushroom.html___________________ */
.O_Header-test-mushroom {
  gap: 90rem;
}

.O_Test-Mushrooms {
  display: flex;
  flex-direction: column;
  padding: 70rem 0;
  align-items: center;
  text-align: center;
  gap: 60rem;
}

/* ___________________results_test_mushrooms.html___________________ */
.O_MainResult {
  display: flex;
  flex-direction: column;
  padding: 120rem 390rem;
  gap: 120rem;
}
.O_ResultsTest {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30rem;
}

.O_CorrectAnswersList {
  display: flex;
  flex-direction: column;
  gap: 30rem;
}

.O_CorrectAnswerCard {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10rem;
  gap: 10rem;
  width: 100%;
  min-height: 180rem;
  background-color: var(--color-card);
  border-radius: 15rem;
}

/* ___________________test1_questions.html___________________ */
.O_Test-Exam {
  display: flex;
  flex-direction: column;
  padding: 160rem 40rem 100rem;
  gap: 170rem;
}

.O_Test-ExamContent {
  display: flex;
  flex-direction: column;
  gap: 30rem;
}

.O_Test-ExamQuestions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30rem;
}

/* ___________________result_test_exam.html___________________ */
.O_CorrectAnswerCardVar {
  display: flex;
  align-items: center;
  padding: 20rem;
  gap: 30rem;
  width: 100%;
  min-height: 180rem;
  background-color: var(--color-card);
  border-radius: 15rem;
}
