@media screen and (max-width: 440px) {
  html {
    font-size: calc(1vw / 4.4);
    scroll-behavior: smooth;
  }
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  .A_Heading-H1 {
    font-size: 40rem;
    line-height: 1.35;
  }
  .A_Heading-H2 {
    font-size: 32rem;
    line-height: 1.35;
  }
  .A_Heading-H4 {
    font-size: 22rem;
    line-height: 1.35;
  }
  .A_Tag-Text {
    font-size: 16rem;
  }
  .O_Header {
    padding: 30rem;
  }
  .O_Header-main {
    gap: 154rem;
    min-height: 874rem;
    background-image: url("../images/hero-bg-iphone.webp");
  }
  .M_Logo {
    width: 55rem;
    height: 55rem;
  }
  .A_InnerCircle {
    width: 45rem;
    height: 45rem;
  }
  .A_LogoImage {
    width: 23.6rem;
  }
  .M_NavigationMenu {
    display: none;
  }
  .M_Search {
    display: none;
  }

  .M_burger-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55rem;
    height: 55rem;
    padding: 2.5rem;
    border: none;
    border-radius: 50%;
    background-color: var(--color-surface);
    cursor: pointer;
  }
  .A_burger-icon {
    display: block;
    width: 27rem;
    height: auto;
  }
  .M_HeroContent {
    text-align: center;
    gap: 45rem;
  }
  .A_Paragraph-HeroContent {
    display: none;
  }

  .M_TagGroup {
    padding-top: 0;
    flex-wrap: wrap;
    row-gap: 10rem;
    justify-content: center;
  }
  .M_TagIcon-none {
    display: none;
  }

  .O_Main {
    padding: 90rem 30rem;
    gap: 90rem;
  }
  .O_CalendarState {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20rem;
  }
  .A_State_img {
    width: 53rem;
  }
  .O_Daylight {
    flex-direction: column;
    gap: 20rem;
    padding: 20rem;
    width: 380rem;
    height: 190rem;
    background-image: url("/src/images/Q_Daylight-iphone.webp");
  }
  .O_ForestState {
    gap: 20rem;
    padding: 20rem;
    width: 380rem;
    height: 278rem;
    background-image: url("/src/images/Q_ForestStats-iphone.webp");
  }
  .O_ForestSky {
    gap: 7rem;
    padding: 20rem;
    width: 380rem;
    height: 264rem;
    background-image: url("/src/images/Q_ForestSky-iphone.webp");
  }
  .M_State_Sunrise {
    position: relative;
    left: -120rem;
  }
  .M_State-Sunset {
    position: relative;
    padding-left: 0;
    top: -114rem;
    left: 125rem;
  }
  .M_Passability-Index {
    gap: 5rem;
  }
  .M_State-Permafrost {
    padding-left: 0rem;
    padding-top: 35rem;
  }
  .M_State-Dampness {
    padding-top: 75rem;
  }
  .M_State-Slush {
    padding-left: 27rem;
    padding-top: 15rem;
  }
  .M_State-Dirt {
    padding-left: 42rem;
    padding-top: 0;
  }
  .M_StateSky {
    gap: 28rem;
    padding-left: 14rem;
    padding-top: 2rem;
  }
  .M_StateCloudy {
    padding-top: 13rem;
    padding-left: 80rem;
  }
  .M_StateAutumn {
    padding-left: 200rem;
    padding-top: 15rem;
  }
  .O_ForestState-Other {
    width: 380rem;
    height: 198rem;
  }
  .A_Button-ForestState {
    width: 380rem;
    padding-left: 110rem;
  }
  .A_Tag-Text-Dampness {
    padding-left: 50rem;
  }
  .A_Tag-Text-Fire {
    padding-left: 30rem;
  }
  .A_Tag-Text-Insect {
    padding-left: 88rem;
  }
  .A_Tag-Text-Mite {
    padding-left: 133rem;
  }
  .O_Section-Checklist-Cards {
    display: grid;
    grid-template-columns: repeat(2, 157rem);
    grid-template-rows: repeat(2, 1fr);
    flex-wrap: wrap;
    gap: 40rem;
  }
  .O_Section-Checklist {
    gap: 30rem;
  }
  .A_Link-CheckList-biotopes {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .M_Card-CheckList-biotopes {
    text-align: center;
    width: 157rem;
    min-height: 222rem;
    background-image: url("../images/Q_Card-CheckList-biotopes-iphone.webp");
  }
  .M_Card-CheckList-biotopes:hover {
    background-image: url("../images/Q_Card-CheckList-biotopes-iphone.webp");
  }
  .A_Link-CheckList-seasons {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .M_Card-CheckList-seasons {
    text-align: center;
    width: 157rem;
    min-height: 222rem;
    background-image: url("../images/Q_Card-CheckList-seasons-iphone.webp");
  }
  .M_Card-CheckList-seasons:hover {
    background-image: url("../images/Q_Card-CheckList-seasons-iphone.webp");
  }
  .A_Link-CheckList-trail {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .M_Card-CheckList-trail {
    padding-top: 160rem;
    padding-left: 0;
    gap: 30rem;
    text-align: center;
    width: 157rem;
    min-height: 222rem;
    background-image: url("../images/Q_Card-CheckList-trail-iphone.webp");
  }
  .M_Card-CheckList-trail:hover {
    background-image: url("../images/Q_Card-CheckList-trail-iphone.webp");
  }
  .A_Link-CheckList-compass {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .M_Card-CheckList-compass {
    padding-top: 160rem;
    padding-left: 0;
    gap: 30rem;
    text-align: center;
    width: 157rem;
    min-height: 222rem;
    background-image: url("../images/Q_Card-CheckList-compass-iphone.webp");
  }
  .M_Card-CheckList-compass:hover {
    background-image: url("../images/Q_Card-CheckList-compass-iphone.webp");
  }
  .A_Link-CheckList-ticks {
    display: none;
  }
  .A_TestCard_ContentButton {
    display: none;
  }
  .O_Section-MainArticle {
    align-items: start;
    justify-content: start;
    gap: 30rem;
    width: 380rem;
    min-height: 250rem;
    background-image: url("/src/images/Q_Section-MainArticle-iphone.webp");
  }
  .M_TagItem-MainArticle {
    align-self: center;
  }
  .A_Heading-H2-MainArticle {
    text-align: start;
  }
  .A_Paragraph-MainArticle {
    display: none;
  }
  .A_Button-MainArticle {
    position: relative;
    top: 100rem;
    width: 380rem;
    padding-left: 120rem;
  }
  .O_Section-ArticlesList {
    padding-top: 80rem;
    align-items: start;
    gap: 20rem;
  }
  .O_ArticlesList {
    flex-direction: column;
    gap: 20rem;
  }
  .O_Articles-CardList {
    display: grid;
    grid-template-columns: 99rem 1fr 10rem;
    grid-template-rows: 1fr 1fr;
    flex-direction: row;
    width: 380rem;
  }
  .M_TagItem-CardList {
    display: none;
  }
  .M_Articles-CardList {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 99rem;
    min-height: 139rem;
  }
  .M_Articles-CardContent {
    grid-column: 2 / 3;
    grid-row: 1 /2;
  }
  .M_Articles-CardFooter {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: end;
  }
  .A_Articles-CardList-Arrow {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    display: block;
    height: auto;
    width: 10rem;
    align-self: center;
  }
  .M_Button-more {
    width: 380rem;
  }
  .O_Section-TestsList {
    align-items: start;
    gap: 20rem;
  }
  .O_Section-TestsList_Cards {
    display: flex;
    flex-direction: column;
    gap: 20rem;
  }
  .O_Test_Var {
    display: grid;
    grid-template-columns: 130rem 1fr 10rem;
    grid-template-rows: 1fr 1fr;
    width: 380rem;
    gap: 20rem;
  }
  .A_TestCardList_image {
    display: none;
  }
  .A_TestCard_image {
    display: none;
  }
  .A_TestCardList_image-iphone {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: block;
  }
  .A_TestCard_image-iphone {
    display: block;
  }
  .M_TagItem-Article-iphone {
    display: none;
  }
  .M_TagItem-iphone {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: end;
    padding-bottom: 10rem;
  }
  .O_TestCardList_Content {
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 10rem 0;
  }
  .O_Section_Dzen {
    min-height: 700rem;
    gap: 60rem;
    background-image: url("../images/Q_Section-Dzen-iphone.webp");
  }
  .M_Section_Dzen-Content {
    flex-direction: column;
    gap: 20rem;
  }
  .A_Button-Dzen {
    width: 55rem;
    height: 55rem;
  }
  .O_InWork {
    align-items: start;
    padding: 90rem 30rem;
  }
  .O_LearnMore-grid {
    display: grid;
    grid-template-columns: repeat(2, 157rem);
    gap: 40rem;
    align-self: center;
  }
  .M_LearnCard_InWork-iphone {
    display: none;
  }
  .M_Articles-CardMedia {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 157rem;
    min-height: 144rem;
  }
  .A_Heading-H3-iphone {
    font-size: 22rem;
    line-height: 1.35;
    font-weight: var(--font-weight-regular);
    text-align: center;
  }
  .M_LearnCard_InWork {
    background-color: transparent;
  }
  .O_Footer {
    min-height: 446rem;
    padding: 40rem 30rem;
    flex-direction: column;
    gap: 70rem;
  }
  .M_Social-Network {
    display: none;
  }
  .M_Footer-text-wrapper {
    gap: 30rem;
  }
  input[type="email"] {
    width: 292rem;
  }
  #my-form {
    gap: 0;
  }
  .M_Footer-Section {
    gap: 62rem;
  }
  .O_Calendar {
    gap: 30rem;
  }
  .M_Header-FilterGroup-Tegs {
    flex-wrap: wrap;
  }
  .O_Articles-Grid {
    display: flex;
    flex-direction: column;
  }
  .O_Articles-Card {
    display: grid;
    grid-template-columns: 99rem 1fr 10rem;
    width: 380rem;
    gap: 10rem;
  }
  .M_Articles-ticks.visible {
    background-image: url("/src/images/articles/M_Articles-ticks-iphone.webp");
  }
  .M_Articles-storm.visible {
    background-image: url("/src/images/articles/M_Articles-storm-iphone.webp");
  }
  .M_Articles-compass.visible {
    background-image: url("/src/images/articles/M_Articles-compass-iphone.webp");
  }
  .M_Articles-trail.visible {
    background-image: url("/src/images/articles/M_Articles-trail-iphone.webp");
  }
  .M_Articles-backpack.visible {
    background-image: url("/src/images/articles/M_Articles-backpack-iphone.webp");
  }
  .M_Articles-clothing.visible {
    background-image: url("/src/images/articles/M_Articles-clothing-iphone.webp");
  }
  .M_Articles-bonfire.visible {
    background-image: url("/src/images/articles/M_Articles-bonfire-iphone.webp");
  }
  .M_Articles-tea.visible {
    background-image: url("/src/images/articles/M_Articles-tea-iphone.webp");
  }
  .M_Articles-seasons.visible {
    background-image: url("/src/images/articles/M_Articles-seasons-iphone.webp");
  }
  .M_Articles-biotopes.visible {
    background-image: url("/src/images/articles/M_Articles-biotopes-iphone.webp");
  }
  .M_Articles-boletus.visible {
    background-image: url("/src/images/articles/M_Articles-boletus-iphone.webp");
  }
  .M_Articles-fox.visible {
    background-image: url("/src/images/articles/M_Articles-fox-iphone.webp");
  }
  .M_Articles-CardMedia-iphone {
    width: 99rem;
    height: 139rem;
  }
  .O_Section-Tests {
    align-self: center;
    flex-direction: column;
    gap: 20rem;
    padding: 0rem;
  }
  .O_TestCard {
    padding: 10rem;
    width: 380rem;
    min-height: 140rem;
  }
  .O_TestCard_Content {
    padding: 10rem 0;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .O_HeroTest {
    padding: 10rem;
    min-height: 253rem;
    gap: 30rem;
    background-image: url("/src/images/A_Mushrooms-iphone.webp");
  }
  .O_Main-Interactive {
    padding: 90rem 0;
  }
  .M_HeroTest_Content {
    text-align: start;
  }
  .A_Button-Arrow {
    position: relative;
    top: 130rem;
    width: 380rem;
    padding-left: 120rem;
  }
  .O_LearnMore {
    padding-top: 90rem;
    align-items: start;
    gap: 30rem;
  }
  .M_LearnCard {
    background-color: transparent;
  }
  .M_LearnCard:hover {
    background-color: transparent;
  }
  .A_Heading-H2-padding {
    padding-left: 30rem;
  }
}
